<!DOCTYPE html>

<html>
<head>
    <title>AdminHome</title>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="jumbotron">
            <h1 class="alert-success">Login Here</h1>
            <hr />
            <a href="/Home/SignIn" class="btn btn-primary">Click me !</a>
        </div>

    </div>
</body>
</html>
